body{
    overflow-x: hidden;
}
.navbar {
    background-color:white;
}
#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-nav {
    margin-left: 20%;
}
.dropdown-menu .dropdown-item{
    color: rgba(0, 0, 0, 0.63);
    font-weight: 500;
}
.btn-group .dropdown-toggle{
    color: rgba(0, 0, 0, 0.63);
    font-weight: 500;
}
.orange {
    color:red;
}
.nav-item .nav-link {
    position: relative;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.63);
    display: inline-block;
    font-size: 17px;
}
.nav-item .nav-link::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background: red;
    transition: 0.3s;
    bottom: 0;
}
.nav-item .nav-link.active::after,
.nav-item .nav-link:hover::after {
    width: 100%;
}

.btn-group::after{
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background: red;
    transition: 0.3s;
    bottom: 0;
}
.btn-group.active::after,
.btn-group:hover::after{
    width: 100%;
}
.pp{
    font-size: 17px;
}
.gauche{
    padding-top: 10%;
}
.bout{
    width: 180px;
    box-shadow: 1px 2px 3px 3px rgba(255, 0, 0, 0.151);
}
.h1{
    font-family: "Amatic SC", sans-serif;
}
.bac{
    background-image: url(image/about.jpg);
}
.blanc{
    margin-top: 90%;
}
.size{
    font-size: 17px;
}
.rose{
    background-color: #fae7e7;
    padding: 15px;
    border-radius: 50%;
}
.stats-counter {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/stats-bg.jpg") center center;
    background-size: cover;
    padding: 100px 0;
}

@media (min-width: 1365px) {
    .stats-counter {
        background-attachment: fixed;
    }
}

.stats-counter .stats-item {
    padding: 30px;
    width: 100%;
}

.stats-counter .stats-item span {
    font-size: 48px;
    display: block;
    color: #fff;
    font-weight: 700;
}

.stats-counter .stats-item p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
}

.menu .nav-tabs {
    border: 0;
}

.menu .nav-link {
    margin: 0 10px;
    padding: 10px 5px;
    transition: 0.3s;
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 2px solid #b6b6bf;
}

@media (max-width: 575px) {
    .menu .nav-link {
        margin: 0 10px;
        padding: 10px 0;
    }
}

.menu .nav-link i {
    padding-right: 15px;
    font-size: 48px;
}

.menu .nav-link h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 575px) {
    .menu .nav-link h4 {
        font-size: 16px;
    }
}

.menu .nav-link:hover {
    color: red;
    border: 0;
}

.menu .nav-link.active {
    border: 0;
}
.menu .tab-content .tab-header {
    padding: 30px 0;
}

.menu .tab-content .tab-header p {
    font-size: 14px;
    text-transform: uppercase;
    color: #676775;
    margin-bottom: 0;
}
.menu .tab-content .tab-header h3 {
    font-size: 36px;
    font-weight: 600;
}
.menu .tab-content .menu-item {
    -moz-text-align-last: center;
    text-align-last: center;
}
.italic{
    font-style: italic;
}
.menu .tab-content .menu-item .menu-img {
    padding: 0 90px;
    margin-bottom: 15px;
}

.menu .tab-content .menu-item h4 {
    font-size: 22px;
    font-weight: 500;
    color: rgba(10, 9, 9, 0.733);
    font-weight: 30px;
    margin-bottom: 5px;
}

.menu .tab-content .menu-item .ingredients {
    color: #8d8d9b;
    margin-bottom: 5px;
}

.menu .tab-content .menu-item .price {
    font-size: 24px;
    font-weight: 700;
    color: red;
}
.hover:hover{
    transform: scale(1.2);
}
.rouge {
    background: red;
    position: relative;
    bottom: 12rem;
    left: 12rem;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #c405057c;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(238, 6, 6, 0.575);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 5, 5, 0.445);
    }
}
.master {
    color: black;
    float: right;
}
.testimonials .testimonial-item .testimonial-content {
    border-left: 3px solid rgb(182, 30, 30);
    padding-left: 30px;
}

.testimonials .testimonial-item .testimonial-img {
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #6c757d;
    margin: 0 0 10px 0;
}

.testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #f05656;
    font-size: 26px;
    line-height: 0;
}

.testimonials .testimonial-item p {
    font-style: italic;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d1d1d7;
    opacity: 1;
}
.rond{
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%;
}

/* ----------------------------CSS--Saliou-------------------------- */

.swiper-wrapper{
    width: 97%;
    height: 500px;
    opacity: 0.9;
}
.price1{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid red;
}
.contact .info-item {
    background: #f4f4f4;
    padding: 30px;
    height: 100%;
}

.contact .info-item .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: #fff;
    background: #ce1212;
    border-radius: 50%;
    margin-right: 15px;
}
#btn2{
    background: #ce1212;
    color: white;
    border: none;
    width: 30%;
    height: 40px;
    border-radius: 20px;
}

.chefs .chef-member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(image/team-shape.svg) no-repeat center bottom;
    background-size: contain;
    z-index: 1;
}

.chef-member:hover{
    transform: scale(1.1);
}
svg{
    position: relative;
    bottom: 77px;
}
.section-bg {
    background-color: #eee;
}
.ection {
    overflow: hidden;
    padding: 80px 0;
    scroll-margin-top: 90px;
    overflow: clip;
}
.section-header p span {
    color: #ce1212;
}
.head{
    text-align: center;
}

.section {
    display: block;
    unicode-bidi: isolate;
}

/* .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
} */

.book-a-table .reservation-form-bg {
    background: rgba(55, 55, 63, 0.04);
}

 #img-form{
    background-size: cover;
    height: 500px;
    padding: 40px;
} 
 #pousse{
    padding: 40px;
 }

.contact .php-email-form button[type=submit] {
    border: 0;
    padding: 12px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.footer {
    font-size: 14px;
    background-color: #1f1f24;
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.7);
}
*, ::after, ::before {
    box-sizing: border-box;
}
.footer .copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.d-flex {
    display: flex !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}

a {
    text-decoration: none;
}
.footer .footer-links {
    margin-bottom: 30px;
}

.d-flex {
    display: flex !important;
}
.swiper-wrapper{
    display: flex;
    gap: 2px;
}
.swiper-slide1{
    border: 7px solid red;
}
footer .credits a, #eml{
    color: #fff;
    text-decoration: none;
}
#emls{
    color: black;
    text-decoration: none;
}
.php-email-form{
    margin: 30px;
}
.form-group{
    margin-top: 2%;
}
.foot{
    margin-left: 4%;
}

@media (min-width: 768px) {
    .p-md-4 {
        /* padding: 1.5rem !important; */
    }
}
.p-3 {
    padding: 1rem !important;
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (min-width: 992px) {
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}